<!DOCTYPE html><html lang="pt-BR"><head><meta charset="UTF-8"><link rel="stylesheet" href="style.css"></head>
<body>
<div class="slide slide--photo" style="background-image:url('photos/cta.jpg');background-position:50% 4%;">
  <div class="kicker kicker--onphoto"><span class="lis">&#9906;</span> sua vez</div>
  <div class="pad-photo">
    <div class="caption">
      <p class="lead display" style="font-size:68px;line-height:1.04;">Quer <span class="gold">100 ganchos</span> prontos pra colar e adaptar?</p>
      <hr class="hairline">
      <p class="body body--lg">Comenta a palavra <span class="codeword gold-l">GANCHOS</span> aqui embaixo. Eu te mando no direct os 100, organizados por tipo, com exemplo pra adaptar.</p>
      <span class="chip">Comenta &#8594; GANCHOS</span>
    </div>
  </div>
  <div class="foot"><span class="handle">@biancamfr</span><span class="idx">08 / 08</span></div>
</div>
</body></html>
