<!DOCTYPE html><html lang="pt-BR"><head><meta charset="UTF-8"><link rel="stylesheet" href="style.css"></head>
<body>
<div class="slide slide--photo" style="background-image:url('photos/capa.jpg');background-position:50% 4%;">
  <div class="kicker kicker--onphoto"><span class="lis">&#9906;</span> opinião impopular</div>
  <div class="pad-photo">
    <div class="caption cap-center">
      <h1 class="display h-cover">Ninguém lê seu post pelo <span class="serif-it gold">valor.</span></h1>
      <hr class="hairline">
      <p class="body body--lg">Lê pelos 3 primeiros segundos. Estes são os 6 ganchos que prendem.</p>
    </div>
  </div>
  <div class="foot"><span class="handle">@biancamfr</span><span class="idx" style="color:var(--champagne);font-weight:500;">arraste &#8594;</span></div>
</div>
</body></html>
